AZURE_CLIENT_ID: 
AZURE_TENANT_ID: 
AZURE_CLIENT_SECRET: 
AZURE_CLIENT_SECRET_ID: 
AZURE_APPLICATION_ID: 
AZURE_SUBSCRIPTION_ID: 
AZURE_RESOURCE_ID: /subscriptions/<subscription-id>/resourceGroups/<resource-group-name>/providers/Microsoft.Compute/virtualMachines/<vm-name>
AZURE_RESOURCE_GROUP_NAME: 
AZURE_VM_NAME: 
